<style>
  .inner-text{
    margin-top:60px;
  }
  .footer{
    border-top:1px solid gray;
    border-bottom:1px solid gray;
  }
  a:hover{
    cursor:pointer;
  }
  </style>



  <div class="container outer h-75">
    <div class="row justify-content-between">
    <div>
      <h1>THE WRITING LAB</h1>
    </div>
    <!-- <div>
      <span class="mx-4"><a>Login</a></span>
      <span><a>Signup</a></span>

      </div> -->
      <app-drop-down></app-drop-down>
    </div>
    <div class="text-center float-left inner-text">
      <h1><u>THE WRITING LAB</u></h1>
      <p>something is written under</p>
    </div>


  </div>

  <div class="w-100 footer">
    <div class="container">
  <div class="row w-100">
    <div class="col-lg-4 col-md-8 col-12">
      <h3><u>About The Writing Lab</u></h3>
      <p><a>About Us</a></p>
      <p><a>Contact Us</a></p>
    </div>
    <div class="col-lg-2 col-md-4 col-12">
      <h3><u>Products</u></h3>
      <p><a>Right</a></p>
      <p><a>Left</a></p>
      <p><a>Right</a></p>
      <p><a>Left</a></p>
    </div>
    <div class="col-lg-2 col-md-4 col-12">
      <h3><u>Features</u></h3>
    </div>
    <div class="col-lg-2 col-md-4 col-12">
      <h3><u>Support</u></h3>
      <p><a>Help Center</a></p>
      <p><a>Privacy Policy</a></p>
      <p><a>Terms of Services</a></p>
    </div>
    <div class="col-lg-2 col-md-4 col-12">
      <h3><u>Community</u></h3>
      <p><a>Facebook</a></p>
      <p><a>Instagram</a></p>
      <p><a>Twitter</a></p>
    </div>
  </div>


  </div>
  </div>
  <div class="container">
  <div class="row w-100 justify-content-center">
    <p class="text-center">
      @copyright.
    </p>
  </div>
  </div>
